body {
    font-family: Arial;
    margin: 20px;
}

h2 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

select, button {
    padding: 6px;
    margin-right: 10px;
    margin-top: 10px;
}

button {
    cursor: pointer;
}
